@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
}

.bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg-top {
  background-image: url(./images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 150%;
  width: 100%;
  height: 100%;
}

.bg-bottom {
  background-image: url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position-x: -10%;
  background-position-y: -70%;
  width: 100%;
  height: 100%;
  z-index: 1111;
}

.card-content {
  position: absolute;
  z-index: 9999;
  background-color: #ffffff;
  width: 340px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 40%;
  background-image: url(./images/bg-pattern-card.svg);
}

.profile-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  position: absolute;
  left: 37%;
  top: 27%;
}

.profile-pic {
  background-image: url(./images/image-victor.jpg);
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.text {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%;
}

.profile-num {
  color: hsl(0, 0%, 59%);
  margin-left: 8px;
}

h5 {
  margin-top: 10px;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.footer-content {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid hsl(0, 3%, 85%);
}

ul {
  list-style-type: none;
}

.social-numbers {
  display: flex;
  justify-content: space-around;
}

.item-social-numbers {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.number {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.social-description {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}
